@model List<CoderGirl_MVCMovies.Models.Director>

@{
    ViewData["Title"] = "Index";
}

<h1>Directors</h1>
<a asp-action="Create" id="add-new-director">Add a Director</a>
<table>
    <tr>
        <th width="75px" align="center">Name</th>
        <th width="100px" align="center">Birth Date</th>
        <th width="75px" align="center">Nationality</th>
    </tr>
    @foreach (var director in Model)
    {
        <tr id="@director.Id">
            <td width="150px" align="left">@director.LastName  @director.FirstName</td>
            <td width="200px" align="left">@director.BirthDate.Date</td>
            <td width="150px" align="left">@director.Nationality</td>
            <td width="75px"><a asp-controller="Director" asp-action="Edit" asp-route-id="@director.Id">Edit</a></td>
            <td width="75px"><a asp-controller="Director" asp-action="Delete" asp-route-id="@director.Id">Delete</a></td>
        </tr>
    }
</table>


