@model IEnumerable<CoderGirl_MVCMovies.ViewModels.MovieRatings.MovieRatingIndexViewModel>
@{
    ViewData["Title"] = "Movie Ratings";
}

<h1>Movie Ratings Index View Model</h1>
<a id="add-movierating" asp-action="Create">Rate a Movie</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movieRating in Model)
        {
        <tr id="@movieRating.MovieId">
            <td>
                @Html.DisplayFor(modelItem => movieRating.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => movieRating.Rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = movieRating.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = movieRating.Id })
            </td>


            @*<td><a asp-action="Edit" asp-route-id="@movieRating.Id">Edit</a></td>
              <td><a asp-action="Delete" asp-route-id="@movieRating.Id">Delete</a></td>
            *@
        </tr>
        }
    </tbody>
</table>
